<div class="modal" id="modalEsqueciSenha" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="ti-lock"></i> Esqueci a senha</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label id="usuario" style="color:#9a9a9a">CPF/CNPJ</label>
              <input type="text" class="form-control border-input" [(ngModel)]="usuario" required>
            </div>            
          </div>
        </div>
        <div class="row" style="height: 10px; padding: 10px;">
        </div>
        <div class="row">
          <div class="col-md-12 text-center" *ngIf="!loading">
            <div class="col-md-6 text-center">
              <button class="btn btn-success btn-fill btn-wd" (click)="loginAD()">
                <i class="nc-icon nc-zoom-split">
                  Enviar
                </i>
              </button>
            </div>
            <div class="col-md-6 text-center">
              <button class="btn btn-error btn-fill btn-wd" data-dismiss="modal">
                <i class="nc-icon nc-zoom-split"></i>
                Fechar
              </button>
            </div>
          </div>
          <div class="col-md-12 text-center" *ngIf="loading">
            <div style="text-align: center;">
              <img src="./../../../assets/img/loading.gif" height="50px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
