<body class="container-fluid">
  <h4>Itens de Verificação<p style="color: red">RF . 12</p>
  </h4>


  <div class="row">
    <div class='col-sm-3'>
      <label>Nome do Item
        <div>
          <input type="text" [(ngModel)]="selectedName.name" class="form-control" id="descricao" name="descricao">
        </div>
      </label>
    </div>

    <div class="col-sm-3">
      <label>Categoria
        <div>
          <select name="categoria" [(ngModel)]="selectedName.categoria" id="categoria"
            class="form-control border-input" placeholder="Selecione...">
            <option value="1">Opção 1</option>
            <option value="2">Opção 2</option>
            <option value="3">Opção 3</option>
            <option value="4">Opção 4</option>
            <option value="5">Opção 5</option>
          </select>
        </div>
      </label>
    </div>

    <button (click)="addOrEdit()" class="btn btn-primary" id="incluir" name="incluir">Incluir
    </button>

    <button
    *ngIf="selectedName.id !== 0"
    (click)="excluir()"
    class="btn btn-danger">Excluir</button>

  </div>



  <!-- <button class="btn btn-primary">Alterar</button>
      <button class="btn btn-danger">Excluir</button> -->


  <div class="row">
    <div class="col-sm-8">
      <ul class="list-group">
        <li (click)="editar(item)" [class.active]="item == selectedName" *ngFor="let item of itemArray"
          class="list-group-item">
          {{ item.name }}-{{ item.categoria }}
        </li>
      </ul>
    </div>
  </div>


  <!--Row-->
  <!-- <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Categoria</th>
              </tr>
            </thead>
            <tbody id="tbodyPri" name="tbodyPri">
              <tr>
                <td>1</td>
                <td>Sifões invertidos para águas residuais;</td>
              </tr>
          </tbody>
          </table>
        </div>
      </div> -->
  <!--Fim da Row-->


</body>
