<body class="container-fluid">
  <h4>Itens de Verificação</h4>


  <div class="row">
    <div class='col-sm-3'>
      <label>Nome do Item
        <div>
          <input type="text" [(ngModel)]="selectedName.name" class="form-control" id="descricao" name="descricao">
        </div>
      </label>
    </div>

    <div class="col-sm-3">
      <label>Categoria
        <div>
          <select name="categoria" [(ngModel)]="selectedName.categoria" id="categoria" class="form-control border-input"
            placeholder="Selecione...">
            <option value="Projetos e Aprovações">Projetos e Aprovações</option>
            <option value="Infra Básica">Infra Básica</option>
            <option value="Fundação">Fundação</option>
            <option value="Alvenaria">Alvenaria</option>
            <option value="Cobertura">Cobertura</option>
          </select>
        </div>
      </label>
    </div>

    <div class="col-sm-6">
      <button *ngIf="selectedName.id !== 0" (click)="novoItem()" class="btn btn-success btn-fill btn-wd" id="novo"
        name="novo">Novo Item
      </button>
      <button (click)="addOrEdit()" class="btn btn-success btn-fill btn-wd" id="incluir" name="incluir">Incluir
      </button>

      <button *ngIf="selectedName.id !== 0" (click)="excluir()" class="btn btn-danger btn-fill btn-wd">Excluir</button>
    </div>
  </div>



  <!-- <button class="btn btn-primary">Alterar</button>
      <button class="btn btn-danger">Excluir</button> -->


  <div class="row">
    <div class="col-sm-8">
      <ul class="list-group">
        <li (click)="editar(item)" [class.active]="item == selectedName" *ngFor="let item of itemArray"
          class="list-group-item">
          {{ item.name }} - {{ item.categoria }}
        </li>
      </ul>
    </div>
  </div>


  <!--Row-->
  <!-- <div class="row">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Item</th>
                <th>Categoria</th>
              </tr>
            </thead>
            <tbody id="tbodyPri" name="tbodyPri">
              <tr>
                <td>1</td>
                <td>Sifões invertidos para águas residuais;</td>
              </tr>
          </tbody>
          </table>
        </div>
      </div> -->
  <!--Fim da Row-->


</body>
