<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Planos de Segurança</title>
</head>

<body class="container-fluid">
  <h4>Pesquisa de Planos<p style="color: red">RF . 8</p></h4>
  <div class="form-row mt-4">
    <div class="col-sm-2 pb-3">
      <label for="regional">Regional</label>
      <select name="regional" id="regional" class="form-control">
        <option value="">Opção 1</option>
        <option value="">Opção 2</option>
        <option value="">Opção 3</option>
        <option value="">Opção 4</option>
        <option value="">Opção 5</option>
      </select>
    </div>
    <!--Campo Pesquisa-->
    <div class="col-sm-2 pb-3">
      <label for="empresa">Empresa</label>
      <input type="text" class="form-control" id="empresa" placeholder="...">
    </div>
    <div class="col-sm-2 pb-3">
      <label for="tipoObra">Tipo de Obra</label>
      <div class="input-group">
        <select type="text" class="form-control" id="tipoObra" placeholder="...">
          <option value="">Obra 1</option>
          <option value="">Obra 2</option>
          <option value="">Obra 3</option>
          <option value="">Obra 4</option>
          <option value="">Obra 5</option>
          <option value="">Obra 6</option>
        </select>
      </div>
    </div>

    <!--Separador-->
    <div>
      <h6>Situação</h6>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio">Aprovado
        </label>
      </div>
      <div class="form-check-inline p-1">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio">Em exigência
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" disabled>Cancelado
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" disabled>Encerrado
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" disabled>Todos
        </label>
      </div>

    </div>
    <label class="ml-4 mt-1">Profissional de Segurança*
      <div class="submit-line mt-2">
        <input type="text" class="form-control" id="profissional">
        <button class="submit-lente p-1"><i class="fa fa-search"></i></button>
        <button class="btn btn-danger form-control">Limpar</button>

      </div>
    </label>
  </div>
  <!--Fim da ROW-->

  <!--Row-->
  <div class="row">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>

            <th>Regional</th>
            <th>Empresa</th>
            <th>Descrição</th>
            <th>Tipo da Obra</th>
            <th>Número do Processo</th>
            <th>Administração do contrato</th>
            <th>Situação</th>
            <th>Profissional de Segurança</th>
            <th>Orgão</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
          <tr>

            <td>Anna</td>
            <td>Pitt</td>
            <td>35</td>
            <td>New York</td>
            <td>USA</td>
            <td>Female</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <!--Fim da Row-->

  <div class="row">
    <button class="btn btn-primary form-inline m-2">Detalhar do Plano</button>
    <button class="btn btn-primary form-inline m-2">Editar Plano</button>
    <button class="btn btn-primary form-inline m-2">Agendar Auditoría</button>
    <button class="btn btn-danger form-inline m-2">Excluir Plano</button>
  </div>






  <!--/container-->
</body>
