<!-- <div class="container container-fluid">
  <div class="logo logotipo">
    <div>
      <img src="./assets/img/chesf-logo.png" alt="" width="250">
    </div>
    <div id="saust">SAUST</div>
  </div>
  <div class="row justify-content-center">

    <div class="row linhaCad">
      <div class="input-field col s6">
        <input placeholder="Insira o seu login" id="first_name" type="text" class="validate" [(ngModel)]="usuario.nome">


        <input placeholder="Insira o sua senha" id="senha" type="password" class="validate" [(ngModel)]="usuario.senha">


      </div>
    </div>

    <button class="btn waves-effect waves-light grow" type="submit" (click)="fazerLogin()" name="submit"
      id="submit">Enviar
      <i class="material-icons right">send</i>
    </button>
  </div>
</div> -->
