#dataStyle {
     color: gray;
     font-weight: bold;
     position: relative;
     bottom: 8vw;
}
.fa-question-circle {
  color: grey;
  cursor: pointer;
  position: relative;
  bottom: 6vw;
  right: 3vw;
}

.ti-lock {
color: grey;
cursor: pointer;
}

.logout {
  position: relative;
  top: -2vw;
  left: -1vw;
  color: grey;
}

#divLogout {
  position: relative;
  top: 1vw;
  right: 7vw;
}
