<div class="modal" id="myADLogin" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"><i class="ti-lock"></i> Login Intranet</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body" (keyup.enter)="loginAD()">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputUsuario" id="labelUsuario" style="color:#9a9a9a">Usuário</label>
                <input type="text" class="form-control border-input" id="inputUsuario" [(ngModel)]="usuario" required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="inputSenhaAD" id="labelSenha" style="color:#9a9a9a">Senha</label>
                <input type="password" class="form-control border-input" id="inputSenhaAD" [(ngModel)]="senha" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="height: 10px; padding: 10px;">

        </div>
        <div class="row">
          <div class="col-md-12 text-center" id="botoes">
            <div class="col-md-6 text-center">
              <button class="btn btn-success btn-fill btn-wd" (click)="loginAD()" *ngIf="!loading">
                <i class="nc-icon nc-zoom-split">
                  Login
                </i>
              </button>
            </div>
            <div class="col-md-6 text-center">
              <button class="btn btn-error btn-fill btn-wd" data-dismiss="modal" *ngIf="!loading">
                <i class="nc-icon nc-zoom-split"></i>
                Fechar
              </button>
            </div>
          </div>
        </div>
        <div class="row" id="loading">
          <div class="col-md-12 text-center">
            <div style="text-align: center;">
              <img src="../../../assets/img/loading.gif" height="50px">
              <p> Autenticando... </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
