<!-- <div class="card">
    <div class="header" style="text-align: center;">
      <h4 class="title">Saust</h4>
    </div>
    <div class="content">
      <p style="text-align: justify;">
        {{ principal?.valor }}
      </p>
    </div>
  </div>


  <div class="card" *ngIf="principalDescricao != null">
    <div class="header" style="text-align: center;">
      <h4 class="title"></h4>
    </div>
    <div class="content">
      <p style="text-align: justify;">
        {{ principalDescricao?.valor }}
      </p>
    </div>
  </div> -->
  <body class="container-fluid">


   <div>
     <h3>{{ jumboTitulo }}</h3>
   </div>
   <button class="btn btn-success btn-fill btn-wd" data-toggle="collapse" data-target="#info">Ver mais</button>

   <div id="info" class="collapse">
     <p>{{ verMais }}</p>
   </div>
  </body>
