<!-- <div class="card">
    <div class="header" style="text-align: center;">
      <h4 class="title">Saust</h4>
    </div>
    <div class="content">
      <p style="text-align: justify;">
        {{ principal?.valor }}
      </p>
    </div>
  </div>


  <div class="card" *ngIf="principalDescricao != null">
    <div class="header" style="text-align: center;">
      <h4 class="title"></h4>
    </div>
    <div class="content">
      <p style="text-align: justify;">
        {{ principalDescricao?.valor }}
      </p>
    </div>
  </div> -->

  <!DOCTYPE html>
  <html lang="br">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>

  <body class="container-fluid">


   <div>
     <h3>{{ jumboTitulo }}</h3>
   </div>
   <button  class="btn btn-primary" data-toggle="collapse" data-target="#info">Ver mais</button>

   <div id="info" class="collapse">
     <p style="margin: 15px">{{ verMais }}</p>
   </div>
  </body>

  </html>
